body {
  background: #f3f3f3;
}
.pd-12 {
  padding: 12px;
}
.mg-12 {
  margin: 12px;
}
.page-container {
  height: 100%;
  overflow: auto;
}
.flex-container {
  display: flex;
  height: 100%;
}

.line-box {
  display: flex;
  align-items: center;
}
.line-label {
  flex: none;
  width: 120px;
}
.line-control {
  flex: 1;
}